#box {
	width: 320px;
	height: 150px;
	overflow: hidden;
	background: #fff;
	box-shadow: 0 0 20px;
	border-radius: 8px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 9999;
	padding: 10px;
	text-align: center;
	display: none;
}

#boxi {
	width: 320px;
	height: 150px;
	overflow: hidden;
	background: #fff;
	box-shadow: 0 0 20px;
	border-radius: 8px;
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 9999;
	padding: 10px;
	text-align: center;
	display: none;
}

#box p{
	margin-top: 30px;
	color: #333;
	font size: 20px;
}
#box span {
    color: #2ecc71;
    font-size: 20px;
    display: block;
    text-align: right;
}
.tal {
	margin-top: 10px;
	font-size: 15px;
	color: white;
	padding: 5px 15px;
	cursor: pointer;
	background: #a9a9a9;
	display: inline-block;
	border-radius: 6px;
	text-decoration: none;
	color: #fff;
}
.tal:hover {
	opacity: 70%;
}
.ok {
	margin-top: 10px;
	font-size: 15px;
	color: white;
	padding: 5px 15px;
	cursor: pointer;
	background: #92CD16;
	display: inline-block;
	border-radius: 6px;
	text-decoration: none;
	color: #fff;
}
.ok:hover {
	opacity: 70%;
}

@media screen and (max-width: 320px) {
#box {
	width: 260px;
	height: 160px;
	overflow: hidden;
	background: #fff;
	box-shadow: 0 0 20px;
	border-radius: 8px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 9999;
	padding: 5px;
	text-align: center;
	display: none;
}

#box p{
	margin-top: 20px;
	color: #333;
	font size: 9px;
}

#box span {
    color: #2ecc71;
    font-size: 10px;
    display: block;
    text-align: right;
}

.tal {
	margin-top: 10px;
	font-size: 15px;
	color: white;
	padding: 5px 15px;
	cursor: pointer;
	background: #a9a9a9;
	display: inline-block;
	border-radius: 6px;
	text-decoration: none;
	color: #fff;
}
.tal:hover {
	opacity: 70%;
}
.ok {
	margin-top: 10px;
	font-size: 15px;
	color: white;
	padding: 5px 15px;
	cursor: pointer;
	background: #92CD16;
	display: inline-block;
	border-radius: 6px;
	text-decoration: none;
	color: #fff;
}
.ok:hover {
	opacity: 70%;
}
}

@media screen and (width: 360px) {
#box {
	width: 280px;
	height: 160px;
	overflow: hidden;
	background: #fff;
	box-shadow: 0 0 20px;
	border-radius: 8px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 9999;
	padding: 5px;
	text-align: center;
	display: none;
}

#box p{
	margin-top: 30px;
	color: #333;
	font size: 20px;
}

#box span {
    color: #2ecc71;
    font-size: 20px;
    display: block;
    text-align: right;
}

.tal {
	margin-top: 17px;
	font-size: 15px;
	color: white;
	padding: 5px 15px;
	cursor: pointer;
	background: #a9a9a9;
	display: inline-block;
	border-radius: 6px;
	text-decoration: none;
	color: #fff;
}
.tal:hover {
	opacity: 70%;
}
.ok {
	margin-top: 17px;
	font-size: 15px;
	color: white;
	padding: 5px 15px;
	cursor: pointer;
	background: #92CD16;
	display: inline-block;
	border-radius: 6px;
	text-decoration: none;
	color: #fff;
	font-weight: 200;
}
.ok:hover {
	opacity: 70%;
}
}
