.priching {
	padding-top: 90px;
	padding-right: 210px;
	padding-left: 210px;
	background: #f5f5f5;

}

@media screen and (width: 1024px) {
.priching {
	padding-top: 80px;
	padding-right: 120px;
	padding-left: 120px;
	background: #f5f5f5;

}
}
@media screen and (width: 768px) {
.priching {
	padding-top: 60px;
	padding-right: 25px;
	padding-left: 25px;
	background: #f5f5f5;

}
}
@media screen and (width: 736px) {
.priching {
	padding-top: 60px;
	padding-right: 35px;
	padding-left: 35px;
	background: #f5f5f5;

}
}
@media screen and (width: 731px) {
.priching {
	padding-top: 60px;
	padding-right: 35px;
	padding-left: 35px;
	background: #f5f5f5;

}
}
@media screen and (width: 667px) {
.priching {
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 0;
	background: #f5f5f5;
	margin-right: 0;
	margin-left: 0;

}
}
@media screen and (width: 640px) {
.priching {
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 0;
	background: #f5f5f5;
	margin-right: 0;
	margin-left: 0;

}
}
@media screen and (width: 568px) {
.priching {
	padding-right: 100px;
	padding-left: 100px;
	padding-bottom: 0;
	background: #f5f5f5;
	margin-right: 0;
	margin-left: 0;

}
}
@media screen and (width: 812px) {
.priching {
	padding-top: 50px;
	padding-right: 15px;
	padding-left: 15px;
	background: #f5f5f5;

}
}
@media screen and (width: 823px) {
.priching {
	padding-top: 50px;
	padding-right: 25px;
	padding-left: 25px;
	background: #f5f5f5;

}
}
@media screen and (width: 375px) {
.priching {
	padding-top: 50px;
	padding-right: 35px;
	padding-left: 35px;
	background: #f5f5f5;


}
}
@media screen and (width: 360px) {
.priching {
	padding-top: 50px;
	padding-right: 35px;
	padding-left: 35px;
	background: #f5f5f5;


}
}
@media screen and (width: 320px) {
.priching {
	padding-top: 40px;
	padding-right: 40px;
	padding-left: 40px;
	background: #f5f5f5;


}
}
@media screen and (width: 414px) {
.priching {
	padding-top: 50px;
	padding-right: 40px;
	padding-left: 40px;
	background: #f5f5f5;


}
}
@media screen and (width: 411px) {
.priching {
	padding-top: 50px;
	padding-right: 50px;
	padding-left: 50px;
	background: #f5f5f5;


}
}
.heading{
 font-size: 28px;
 text-align: center;
 margin-bottom: 50px;
 color: #4a4a4a;
 font-weight: 500;
margin-left: 290px;
margin-right: 290px;
line-height: 38px;
}
.heading2{
 font-size: 28px;
 text-align: center;
 margin-bottom: 50px;
 color: #4a4a4a;
 font-weight: 500;
 margin-left: 90px;
margin-right: 710px;
line-height: 38px;
}
 @
 @media screen and (height: 1024px) {
.heading{
 font-size: 25px;
 text-align: center;
 margin-bottom: 60px;
 color: #4a4a4a;
 font-weight: 500;
margin-left: 290px;
margin-right: 290px;
line-height: 38px;
}
}

 @media screen and (width: 1024px) {
.heading{
 font-size: 23px;
 text-align: center;
 margin-bottom: 45px;
 color: #4a4a4a;
 font-weight: 500;
margin-left: 50px;
margin-right: 60px;
line-height: 38px;
}
}
 @media screen and (width: 768px) {
.heading{
 font-size: 22px;
 text-align: center;
 margin-bottom: 40px;
 color: #4a4a4a;
 font-weight: 500;
margin-left: 20px;
margin-right: 20px;
line-height: 38px;
}
}
 @media screen and (width: 736px) {
.heading{
 font-size: 22px;
 text-align: center;
 margin-bottom: 40px;
 color: #4a4a4a;
 font-weight: 500;
margin-left: 20px;
margin-right: 20px;
line-height: 38px;
}
}
 @media screen and (width: 731px) {
.heading{
 font-size: 22px;
 text-align: center;
 margin-bottom: 40px;
 color: #4a4a4a;
 font-weight: 500;
margin-left: 20px;
margin-right: 20px;
line-height: 38px;
}
}
 @media screen and (width: 667px) {
.heading{
 font-size: 22px;
 text-align: center;
 margin-bottom: 40px;
 color: #4a4a4a;
 font-weight: 500;
margin-left: 20px;
margin-right: 20px;
line-height: 38px;
}
}
 @media screen and (width: 640px) {
.heading{
 font-size: 20px;
 text-align: center;
 margin-bottom: 40px;
 color: #4a4a4a;
 font-weight: 500;
margin-left: 20px;
margin-right: 20px;
line-height: 38px;
}
}
 @media screen and (width: 568px) {
.heading{
 font-size: 22px;
 text-align: center;
 margin-bottom: 40px;
 color: #4a4a4a;
 font-weight: 500;
margin-left: 20px;
margin-right: 20px;
line-height: 38px;
}
}
 @media screen and (width: 812px) {
.heading{
 font-size: 22px;
 text-align: center;
 margin-bottom: 60px;
 color: #4a4a4a;
 font-weight: 500;
margin-left: 20px;
margin-right: 20px;
line-height: 38px;
}
}
 @media screen and (width: 823px) {
.heading{
 font-size: 22px;
 text-align: center;
 margin-bottom: 40px;
 color: #4a4a4a;
 font-weight: 500;
margin-left: 20px;
margin-right: 20px;
line-height: 38px;
}
}
 @media screen and (width: 375px) {
.heading{
 font-size: 21px;
 text-align: center;
 margin-bottom: 30px;
 color: #4a4a4a;
 font-weight: 500;
margin-left: 20px;
margin-right: 20px;
line-height: 38px;
}
}
 @media screen and (width: 360px) {
.heading{
 font-size: 21px;
 text-align: center;
 margin-bottom: 30px;
 color: #4a4a4a;
 font-weight: 500;
margin-left: 20px;
margin-right: 20px;
line-height: 38px;
}
}
 @media screen and (width: 320px) {
.heading{
 font-size: 20px;
 text-align: center;
 margin-bottom: 30px;
 color: #4a4a4a;
 font-weight: 500;
margin-left: 20px;
margin-right: 20px;
line-height: 38px;
}
}
 @media screen and (width: 414px) {
.heading{
 font-size: 21px;
 text-align: center;
 margin-bottom: 30px;
 color: #4a4a4a;
 font-weight: 500;
margin-left: 20px;
margin-right: 20px;
line-height: 38px;
}
}
 @media screen and (width: 411px) {
.heading{
 font-size: 21px;
 text-align: center;
 margin-bottom: 30px;
 color: #4a4a4a;
 font-weight: 500;
margin-left: 20px;
margin-right: 20px;
line-height: 38px;
}
}
.price-table {
	text-align: center;
	background: #fff;
	margin-bottom: 20px;
	border-radius: 25px;
	box-shadow: 0 0 40px rgba(0,0,0,0.5);
	overflow: hidden;


}

 @media screen and (width: 375px) {
.price-table {
	text-align: center;
	background: #fff;
	border-radius: 25px;
	box-shadow: 0 0 40px rgba(0,0,0,0.5);
	overflow: hidden;
	margin-bottom: 20px;


}
 }
 @media screen and (width: 360px) {
.price-table {
	text-align: center;
	background: #fff;
	border-radius: 25px;
	box-shadow: 0 0 40px rgba(0,0,0,0.5);
	overflow: hidden;
	margin-bottom: 20px;


}
 }
 @media screen and (width: 568px) {
.price-table {
	text-align: center;
	background: #fff;
	border-radius: 25px;
	box-shadow: 0 0 40px rgba(0,0,0,0.5);
	overflow: hidden;
	margin-bottom: 20px;


}
 }
 @media screen and (width: 320px) {
.price-table {
	text-align: center;
	background: #fff;
	border-radius: 25px;
	box-shadow: 0 0 40px rgba(0,0,0,0.5);
	overflow: hidden;
	margin-bottom: 20px;


}
 }


 @media screen and (width: 414px) {
.price-table {
	text-align: center;
	background: #fff;
	border-radius: 25px;
	box-shadow: 0 0 40px rgba(0,0,0,0.5);
	overflow: hidden;
	margin-bottom: 35px;


}
 }
 @media screen and (width: 411px) {
.price-table {
	text-align: center;
	background: #fff;
	border-radius: 25px;
	box-shadow: 0 0 40px rgba(0,0,0,0.5);
	overflow: hidden;
	margin-bottom: 25px;


}
 }



.col-sm-4:nth-child(2) .price-table {
	transform: scale(1.1);
}
 @media screen and (width: 375px) {
.col-sm-4:nth-child(2) .price-table {
	transform: scale(1);
}
 }
 @media screen and (width: 360px) {
.col-sm-4:nth-child(2) .price-table {
	transform: scale(1);
}
 }
 @media screen and (width: 320px) {
.col-sm-4:nth-child(2) .price-table {
	transform: scale(1);
}
 }

  @media screen and (width: 414px) {
.col-sm-4:nth-child(2) .price-table {
	transform: scale(1);
}
 }
  @media screen and (width: 411px) {
.col-sm-4:nth-child(2) .price-table {
	transform: scale(1);
}
 }

  @media screen and (width: 568px) {
.col-sm-4:nth-child(2) .price-table {
	transform: scale(1);
}
 }
.price-table .price-head {
	padding: 12px;
	padding-bottom: 38px;
	background: linear-gradient(45deg, #92CD16, #42a5f5);
	color: #fff;
	border-radius: 0 0 50% 50%;
}

 @media screen and (width: 1024px) {
    .price-table .price-head {
	padding: 12px;
	padding-bottom: 30px;
	background: linear-gradient(45deg, #92CD16, #42a5f5);
	color: #fff;
	border-radius: 0 0 50% 50%;
}
 }

 @media screen and (width: 768px) {
    .price-table .price-head {
	padding: 1px;
	padding-bottom: 20px;
	background: linear-gradient(45deg, #92CD16, #42a5f5);
	color: #fff;
	border-radius: 0 0 50% 50%;
}
 }
  @media screen and (width: 736px) {
    .price-table .price-head {
	padding: 2px;
	padding-bottom: 15px;
	background: linear-gradient(45deg, #92CD16, #42a5f5);
	color: #fff;
	border-radius: 0 0 50% 50%;
}
 }
  @media screen and (width: 731px) {
    .price-table .price-head {
	padding: 2px;
	background: linear-gradient(45deg, #92CD16, #42a5f5);
	color: #fff;
	border-radius: 0 0 50% 50%;
}
 }
  @media screen and (width: 667px) {
    .price-table .price-head {
	padding: 1px;
	padding-bottom: 10px;
	background: linear-gradient(45deg, #92CD16, #42a5f5);
	color: #fff;
	border-radius: 0 0 50% 50%;
}
 }
  @media screen and (width: 640px) {
    .price-table .price-head {
	padding: 5px;
	background: linear-gradient(45deg, #92CD16, #42a5f5);
	color: #fff;
	border-radius: 0 0 50% 50%;
}
 }
   @media screen and (width: 320px) {
    .price-table .price-head {
	padding: 5px;
	background: linear-gradient(45deg, #92CD16, #42a5f5);
	color: #fff;
	border-radius: 0 0 50% 50%;
}
 }
   @media screen and (width: 360px) {
    .price-table .price-head {
	padding: 18px;
	background: linear-gradient(45deg, #92CD16, #42a5f5);
	color: #fff;
	border-radius: 0 0 50% 50%;
}
 }
 @media screen and (width: 812px) {
    .price-table .price-head {
	padding: 4px;
	padding-bottom: 20px;
	background: linear-gradient(45deg, #92CD16, #42a5f5);
	color: #fff;
	border-radius: 0 0 50% 50%;
}
 }

 @media screen and (width: 823px) {
    .price-table .price-head {
	padding: 15px;
	background: linear-gradient(45deg, #92CD16, #42a5f5);
	color: #fff;
	border-radius: 0 0 50% 50%;
}
 }


.price-table .price-head h4 {

	font-weight: 600;
	color: #fff;
	font-size: 23px;
}
 @media screen and (width: 1024px) {
 .price-table .price-head h4 {

	font-weight: 600;
	color: #fff;
	font-size: 20px;
}	
 }

 @media screen and (width: 768px) {
 .price-table .price-head h4 {

	font-weight: 600;
	color: #fff;
	font-size: 20px;
}	
 }
 @media screen and (width: 736px) {
 .price-table .price-head h4 {

	font-weight: 600;
	color: #fff;
	font-size: 14px;
}	
 }
 @media screen and (width: 731px) {
 .price-table .price-head h4 {

	font-weight: 600;
	color: #fff;
	font-size: 18px;
}	
 }
 @media screen and (width: 667px) {
 .price-table .price-head h4 {

	font-weight: 600;
	color: #fff;
	font-size: 13px;
}	
 }
 @media screen and (width: 640px) {
 .price-table .price-head h4 {

	font-weight: 600;
	color: #fff;
	font-size: 19px;
}	
 }
  @media screen and (width: 320px) {
 .price-table .price-head h4 {

	font-weight: 600;
	color: #fff;
	font-size: 20px;
}	
 }
 @media screen and (width: 812px) {
 .price-table .price-head h4 {

	font-weight: 600;
	color: #fff;
	font-size: 20px;
}	
 }
 @media screen and (width: 823px) {
 .price-table .price-head h4 {

	font-weight: 600;
	color: #fff;
	font-size: 22px;
}	
 }
.subtext {
	vertical-align: sub; 
	font-size: 15px;
	color: #fff;

}
@media screen and (width: 1024px) {
	.subtext {
	vertical-align: sub; 
	font-size: 11px;
	color: #fff;

}
}
@media screen and (width: 768px) {
	.subtext {
	vertical-align: sub; 
	font-size: 10px;
	color: #fff;

}
}
@media screen and (width: 736px) {
	.subtext {
	vertical-align: sub; 
	font-size: 8px;
	color: #fff;

}
}
@media screen and (width: 731px) {
	.subtext {
	vertical-align: sub; 
	font-size: 8px;
	color: #fff;

}
}
@media screen and (width: 667px) {
	.subtext {
	vertical-align: sub; 
	font-size: 8px;
	color: #fff;

}
}
@media screen and (width: 640px) {
	.subtext {
	vertical-align: sub; 
	font-size: 10px;
	color: #fff;

}
}
@media screen and (width: 320px) {
	.subtext {
	vertical-align: sub; 
	font-size: 12px;
	color: #fff;

}
}
@media screen and (width: 360px) {
	.subtext {
	vertical-align: sub; 
	font-size: 14px;
	color: #fff;

}
}
@media screen and (width: 812px) {
	.subtext {
	vertical-align: sub; 
	font-size: 10px;
	color: #fff;

}
}
@media screen and (width: 823px) {
	.subtext {
	vertical-align: sub; 
	font-size: 13px;
	color: #fff;

}
}
.supertext {
	vertical-align: super; 
	font-size: 15px;
	font-weight: bold;
	color: #fff;
}
@media screen and (width: 1024px) {
.supertext {
	vertical-align: super; 
	font-size: 11px;
	font-weight: bold;
	color: #fff;
}
}
@media screen and (width: 768px) {
.supertext {
	vertical-align: super; 
	font-size: 10px;
	font-weight: bold;
	color: #fff;
}
}
@media screen and (width: 736px) {
.supertext {
	vertical-align: super; 
	font-size: 8px;
	font-weight: bold;
	color: #fff;
}
}
@media screen and (width: 731px) {
.supertext {
	vertical-align: super; 
	font-size: 8px;
	font-weight: bold;
	color: #fff;
}
}
@media screen and (width: 667px) {
.supertext {
	vertical-align: super; 
	font-size: 8px;
	font-weight: bold;
	color: #fff;
}
}
@media screen and (width: 640px) {
.supertext {
	vertical-align: super; 
	font-size: 9px;
	font-weight: bold;
	color: #fff;
}
}
@media screen and (width: 320px) {
.supertext {
	vertical-align: super; 
	font-size: 12px;
	font-weight: bold;
	color: #fff;
}
}
@media screen and (width: 360px) {
.supertext {
	vertical-align: super; 
	font-size: 14px;
	font-weight: bold;
	color: #fff;
}
}
@media screen and (width: 812px) {
.supertext {
	vertical-align: super; 
	font-size: 10px;
	font-weight: bold;
	color: #fff;
}
}
@media screen and (width: 823px) {
.supertext {
	vertical-align: super; 
	font-size: 13px;
	font-weight: bold;
	color: #fff;
}
}
h4i {
	font-size: 20px;
	font-weight: bold;
	color: #fff;

}
@media screen and (width: 1024px) {
	h4i {
	font-size: 17px;
	font-weight: bold;
	color: #fff;

}
}
@media screen and (width: 768px) {
	h4i {
	font-size: 16px;
	font-weight: bold;
	color: #fff;

}
}
@media screen and (width: 736px) {
	h4i {
	font-size: 11px;
	font-weight: bold;
	color: #fff;

}
}
@media screen and (width: 731px) {
	h4i {
	font-size: 15px;
	font-weight: bold;
	color: #fff;

}
}
@media screen and (width: 667px) {
	h4i {
	font-size: 11px;
	font-weight: bold;
	color: #fff;

}
}
@media screen and (width: 640px) {
	h4i {
	font-size: 17px;
	font-weight: bold;
	color: #fff;

}
}
@media screen and (width: 320px) {
	h4i {
	font-size: 22px;
	font-weight: bold;
	color: #fff;

}
}
@media screen and (width: 812px) {
	h4i {
	font-size: 16px;
	font-weight: bold;
	color: #fff;

}
}
@media screen and (width: 823px) {
	h4i {
	font-size: 21px;
	font-weight: bold;
	color: #fff;

}
}
.text {
	font-weight: 500;
	font-size: 20px;
	margin-bottom: 0;
}
@media screen and (width: 768px) {
.text {
	font-weight: 500;
	font-size: 19px;
	margin-bottom: 0;
}
}
@media screen and (width: 823px) {
.text {
	font-weight: 500;
	font-size: 19px;
	margin-bottom: 0;
}
}
@media screen and (width: 736px) {
.text {
	font-weight: 500;
	font-size: 16px;
	margin-bottom: 0;
}
}
@media screen and (width: 731px) {
.text {
	font-weight: 500;
	font-size: 15px;
	margin-bottom: 0;
}
}
@media screen and (width: 667px) {
.text {
	font-weight: 500;
	font-size: 15px;
	margin-bottom: 0;
}
}
@media screen and (width: 640px) {
.text {
	font-weight: 500;
	font-size: 16px;
	margin-bottom: 0;
}
}
@media screen and (width: 568px) {
.text {
	font-weight: 500;
	font-size: 19px;
	margin-bottom: 0;
}
}
@media screen and (width: 414px) {
.text {
	font-weight: 500;
	font-size: 18px;
	margin-bottom: 0;
}
}
@media screen and (width: 360px) {
.text {
	font-weight: 500;
	font-size: 19px;
	margin-bottom: 0;
}
}
.price-table .texi {
	margin-right: 30px;
}

.price-table .price-head p {
	font-size: 17px;
	margin-bottom: 0;
}
@media screen and (width: 1024px) {
.price-table .price-head p {
	font-size: 15px;
	margin-bottom: 0;
}
}
@media screen and (width: 768px) {
.price-table .price-head p {
	margin-top: 10px;
	font-size: 13px;
	margin-bottom: 0;
}
}
@media screen and (width: 736px) {
.price-table .price-head p {
	margin-top: 10px;
	font-size: 11px;
	margin-bottom: 0;
}
}
@media screen and (width: 731px) {
.price-table .price-head p {
	margin-top: 10px;
	font-size: 13px;
	margin-bottom: 0;
}
}
@media screen and (width: 667px) {
.price-table .price-head p {
	margin-top: 10px;
	font-size: 11px;
	margin-bottom: 0;
}
}
@media screen and (width: 640px) {
.price-table .price-head p {
	margin-top: 10px;
	font-size: 12px;
	margin-bottom: 0;
}
}
@media screen and (width: 320px) {
.price-table .price-head p {
	margin-top: 5px;
	font-size: 14px;
	margin-bottom: 0;
}
}
@media screen and (width: 812px) {
.price-table .price-head p {
	margin-top: 12px;
	font-size: 13px;
	margin-bottom: 0;
}
}
@media screen and (width: 823px) {
.price-table .price-head p {
	margin-top: 15px;
	font-size: 13px;
	margin-bottom: 0;
}
}
.price-table .price-head h2 {
	font-size: 30px;
}
.price-table .price-content {
	padding: 25px 0 15px;
}
.price-table .price-content ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.price-table .price-content ul li {

	padding: 0px 0;
	color: #777;
	font-size: 16px;
	transition: .25s;
	text-align: center;
	font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
@media screen and (width: 768px) {
.price-table .price-content ul li {
	padding: 0px 0;
	color: #777;
	font-size: 16px;
	transition: .25s;
	text-align: center;
	font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
}
@media screen and (width: 823px) {
.price-table .price-content ul li {
	padding: 0px 0;
	color: #777;
	font-size: 16px;
	transition: .25s;
	text-align: center;
	font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
}
@media screen and (width: 568px) {
.price-table .price-content ul li {
	padding: 0px 0;
	color: #777;
	font-size: 17px;
	transition: .25s;
	text-align: center;
	font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
}
@media screen and (width: 640px) {
.price-table .price-content ul li {
	padding: 0px 0;
	color: #777;
	font-size: 14px;
	transition: .25s;
	text-align: center;
	font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
}
@media screen and (width: 736px) {
.price-table .price-content ul li {
	padding: 0px 0;
	color: #777;
	font-size: 14px;
	transition: .25s;
	text-align: center;
	font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
}
@media screen and (width: 667px) {
.price-table .price-content ul li {
	padding: 0px 0;
	color: #777;
	font-size: 12px;
	transition: .25s;
	text-align: center;
	font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
}
@media screen and (width: 667px) {
.price-table .price-content ul li {
	padding: 0;
	color: #777;
	font-size: 14px;
	transition: .25s;
	text-align: center;
	font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
}
@media screen and (width: 731px) {
.price-table .price-content ul li {
	padding: 0;
	color: #777;
	font-size: 13px;
	transition: .25s;
	text-align: center;
	font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
}
@media screen and (width: 414px) {
.price-table .price-content ul li {
	padding: 0px 0;
	color: #777;
	font-size: 18px;
	transition: .25s;
	text-align: center;
	font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
}
@media screen and (width: 360px) {
.price-table .price-content ul li {
	padding: 0px 0;
	color: #777;
	font-size: 19px;
	transition: .25s;
	text-align: center;
	font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
}
@media screen and (width: 411px) {
.price-table .price-content ul li {
	padding: 0px 0;
	color: #777;
	font-size: 19px;
	transition: .25s;
	text-align: center;
	font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
}
.price-table .price-content ul li:hover {
	border-left: 8px solid #92CD16;
	border-right: 8px solid #92CD16;
}

.price-table .price-bottom{
	padding-bottom: 35px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 13px;
}
@media screen and (width: 667px) {
.price-table .price-bottom{
	padding-bottom:2px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 13px;
}
}
@media screen and (width: 640px) {
.price-table .price-bottom{
	padding-bottom:3px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 13px;
}
}
@media screen and (width: 320px) {
.price-table .price-bottom{
	padding-bottom:2px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 13px;
}
}
@media screen and (width: 411px) {
.price-table .price-bottom{
	padding-bottom:8px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 13px;
}
}
@media screen and (width: 812px) {
.price-table .price-bottom{
	padding-bottom:5px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 13px;
}
}
@media screen and (width: 823px) {
.price-table .price-bottom{
	padding-bottom:6px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 13px;
}
}
@media screen and (width: 736px) {
.price-table .price-bottom{
	padding-bottom:5px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 13px;
}
}
@media screen and (width: 731px) {
.price-table .price-bottom{
	padding-bottom:2px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 13px;
}
}
.price-table .price-bottom a{
	display: inline-block;
	text-decoration: none;
	background: #42a5f5;
	padding: 5px 25px;
	border-radius: 50px;
	color: #fff;

}